2.9.0rc2-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.2-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.3-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0rc1-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0rc4-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.4-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.5-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.6-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0b1-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0rc3-onefile.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.2-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.3-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0rc3-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0rc4-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.4-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.5-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.8.6-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0b1-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0rc1-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
2.9.0rc2-onedir.tar.bz2 filter=lfs diff=lfs merge=lfs -text
