[submodule ".bash-concurrent"]
	path = .bash-concurrent
	url = https://github.com/themattrix/bash-concurrent
[submodule "submodules/bash-concurrent"]
	path = submodules/bash-concurrent
	url = ssh://git@github.com/themattrix/bash-concurrent
[submodule "bash-concurrent"]
	path = bash-concurrent
	url = git@github.com:themattrix/bash-concurrent.git
