export PYTHONDONTWRITEBYTECODE=true

PROFILE='MAC PRO'
echo -e "\033]50;SetProfile=${PROFILE}\a"

export nodemon_base_cmd='nodemon -i files -i dist -i build -w templates -w files/EXCLUDED_ANSIBLE_MODULES.txt -w af.txt -w . -e py,yaml,txt --delay .1'
export p=./cleanup.sh
export compile_cmd="$p; $(pwd)/compile.py && ./execute_test_playbook.sh"
export compile_help_cmd="$p; $(pwd)/compile.py --help"
export compile_mode_test_cmd="$p; time $(pwd)/compile.py --compilemode 'test'"
export compile_mode_paramiko_cmd="$p; time $(pwd)/compile.py --compilemode 'paramiko'"
export compile_mode_ansible_cmd="$p; time $(pwd)/compile.py --compilemode 'ansible'"

export nodemon_compile_cmd="$nodemon_base_cmd -x '$compile_cmd'"
export nodemon_compile_help_cmd="$nodemon_base_cmd -x '$compile_help_cmd'"
export nodemon_compile_mode_test_cmd="$nodemon_base_cmd -x '$compile_mode_test_cmd'"
export nodemon_compile_mode_paramiko_cmd="$nodemon_base_cmd -x '$compile_mode_paramiko_cmd'"
export nodemon_compile_mode_ansible_cmd="$nodemon_base_cmd -x '$compile_mode_ansible_cmd'"

export test_paramiko_cmd='./.dist_*/paramiko_test/paramiko_test --test'
