export PYTHONDONTWRITEBYTECODE=true


export nodemon_base_cmd='nodemon -i files -i dist -i build -w . -e py,yaml --delay .1'
export p=./cleanup.sh
export compile_cmd="$p; $(pwd)/compile.py"
export compile_help_cmd="$p; $(pwd)/compile.py --help"
export compile_mode_test_cmd="$p; time $(pwd)/compile.py --mode 'test'"
export compile_mode_ansible_cmd="$p; time $(pwd)/compile.py --mode 'ansible'"

export nodemon_compile_cmd="$nodemon_base_cmd -x '$compile_cmd'"
export nodemon_compile_help_cmd="$nodemon_base_cmd -x '$compile_help_cmd'"
export nodemon_compile_mode_test_cmd="$nodemon_base_cmd -x '$compile_mode_test_cmd'"
export nodemon_compile_mode_ansible_cmd="$nodemon_base_cmd -x '$compile_mode_ansible_cmd'"
