.attic
b
LOADER.sh
.log.txt
.o
.e
.venv
__pycache__
build
dist
test2/BUILD*
*/.*.std*
*/.COMBINED-*
*/.test*spec
*/.test*txt
*/.venv*
*/*.spec
test*/.status.dat
test*/.*.txt
test*/.*.sh
*/_borg
*/.std*
*/.*spec*
*/.combined*
*/.*mangled_vars.txt
*/.exit_code
*/.COMMENT
