[defaults]
stdout_callback = yaml
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
localhost_warning=False
gathering=implicit


#library = ./lib/Ansible/modules
#action_plugins = ./lib/Ansible/actions
#callback_plugins = ./lib/Ansible/callback_plugins
#action_plugins=./ansible/action_plugins:/home/whmcs/.local/lib/python2.7/site-packages/ara/plugins/actions

[diff]
always=True
context=3
max_diff_size=104448
diff_add=green
diff_lines=cyan
diff_remove=red

[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan
